h3.question{
    text-align: center;
}

.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-input{
    display: none;
}

.answer-label{
    padding: 15px 10px;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
    margin: 8px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.answer-label:active{
    transform: scale(0.95);

}


.exam-container{
    display: flex;
    justify-content: end;
    margin: 50px 0;
}

.exam-container .progress-indicator{
    position: fixed;
    top: 300px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

.exam-container .questions{
    width: 90%;
}



